.vscode/
.claude/
software/ironball/.devcontainer/
software/ironball/.vscode/
software/ironball/build/
freecad/fcstd/*.FCBak
kicad/magnet_detect/magnet_detect-backups
kicad/magnet_detect/fp-info-cache
kicad/magnet_detect/magnet_detect.kicad_prl
kicad/esp32_magnet/esp32_magnet-backups
kicad/esp32_magnet/fp-info-cache
kicad/esp32_magnet/esp32_magnet.kicad_prl